<html>
<head>
    <title>Terraform Ansible Demo</title>
</head>
<body>
    <h1>
        Thank you for reading this post. 
        My IP Address is {{ ansible_eth0.ipv4.address }}
    </h1>
    <br/><br/><br/>
    <p>
        <img src="terraform.png" alt="TerraformAnsible Logo"/>
    </p>
</body>
</html>
